# Node.js dependencies
node_modules/

# Log files
logs
*.log
npm-debug.log*

# Directory for executable programs
bin/
build/

# Environment variables
.env

# MacOS files
.DS_Store

# Windows files
Thumbs.db
Desktop.ini

# Ignore deployment script
deploy.bat

# Ignore .vscode folder containing editor settings
.vscode/
deploy.bat 
